html {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background-color: #EEDAC2;
    margin: 0;
    padding: 0;
  }   

  header > h1 {
    font-family: 'Open sans', Courier, monospace;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    background-color: #F0CEA4;
  }
  
  h2 {
    font-family: 'Open sans', Courier, monospace;
    font-size: medium;
  
    margin-bottom: 0;
    
  }

  form {
    max-width: 500px;
    margin: 0 auto;
    /* border: 2px solid grey; */
    padding: 1em 1em;
    background-color: #FFDDB5;
    border-radius: 25px;
  }
  
  .form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
  }
  
  .form-row > label {
    width: 100px;
  }
  
  .form-row > input,
  .form-row > select {
    padding: .5em;
    flex-grow: 1;
    border: none;
    border-radius: 10px;
  }

  #submitButton {
    background-color: #F0CEA4;
    border: none;
    border-radius: 10px;
  }

  #finishedbook {
    background-color: #FFECD4;
    width: 300px;
    border: 0;
    padding: 0px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-top: 10px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  } 