/* Setting webpage size and font */
html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Setting webpage background color */
body {
  background-color: #EEDAC2;
  margin: 0;
  padding: 0;
}   

/* Setting header color, font & size */
header > h1 {
  font-family: 'Open sans', Courier, monospace;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  background-color: #F0CEA4;
}

/* Setting headings font and size */
h2 {
  font-family: 'Open sans', Courier, monospace;
  font-size: medium;
  margin-bottom: 0;
}

/* Setting form size, color & corners */
form {
  max-width: 500px;
  margin: 0 auto;
  padding: 1em 1em;
  background-color: #FFDDB5;
  border-radius: 25px;
}

/* Setting form width flexibility */
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}

/* Setting form input label width */
.form-row > label {
  width: 100px;
}

/* Setting form input parameters and corners */
.form-row > input,
.form-row > select {
  padding: .5em;
  flex-grow: 1;
  border: none;
  border-radius: 10px;
}

/* Setting rating input parameters */
.rating{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: .5em;
  margin: 0 auto;
}

/* Limiting rating label width */
.rating label{
  display: grid;
  justify-content: left;
  width: 15%;
}

/* Setting submit button color and corners */
#submitButton {
  background-color: #F0CEA4;
  border: none;
  border-radius: 10px;
}

/* Setting form header parameters: color, size, centering, top corners */
#finishedbook {
  background-color: #FFECD4;
  width: 300px;
  border: 0;
  padding: 0px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: 10px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
} 

/* Setting list header parameters: color, size, centering, corners */
#booksread {
  background-color: #FFECD4;
  width: 300px;
  border: 0;
  padding: 0px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Setting book list column spacing parameters */
#fictionnonfictionlist {
  max-width: 1200px;
  min-width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  column-gap: 50px;
}

/* Setting book list category spacing parameters */
#category {
  max-width: 1200px;
  margin: 0 auto;
  column-gap: 50px;
  width: auto;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Booklist category header parameters */
p2 {
  margin-top: 30px;
  height: 18px;
  width:auto;
  background-color: #FFDDB5;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* Setting book record parameters: color, size */
li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  margin-top: 0;
  margin: 30px 0;
  align-items: center;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 15px;
  background-color: #F0CEA4;
  border: 0px solid #c3c3c3;
}